@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:document.getElementById('logoutForm').submit()">[Log Out] </a></li>
        @{ Html.RenderAction("NavProjectDropdownPartial", "Components");}
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>Please login below, ok?</li>
    </ul>
}
