@model List<fq540TenK.Models.EditAssignmentForm>
<!-- Batch Edit Modal -->
@using (Html.BeginForm("Edit", "Assignment", FormMethod.Post))
{
<div class="modal fade" id="batch-edit-modal" tabindex="-1" role="dialog" aria-labelledby="batch-edit-modal-label">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="batch-edit-modal-label">Batch Edit Project/Phase Resources</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Resources To Be Edited: </h5>
                            <ul class="edit-assignment-modal-list"></ul>
                            <hr />
                            <input type="hidden" name="users" value="none" />
                            <input type="hidden" name="assignments" value="none" />
                            <h5><b>Allocation Type & Amount:</b></h5>
                        </div>

                        <div id="allocationModeSelect">
                            <div class="col-md-4">
                                <label>
                                    <input type="radio" name="allocation_mode" value="percent" id="edit-percent" required />
                                    Percent
                                </label>
                                <input type="text" name="edit-amount-percent" id="edit-amount-percent" size="2" disabled> %
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="radio" name="allocation_mode" value="hours-per-day" id="edit-hours-per-day" required />
                                    Daily
                                </label>
                                <input type="text" name="edit-amount-hours-per-day" id="edit-amount-hours-per-day" size="2" disabled> hrs
                            </div>
                            <div class="col-md-4">
                                <label>
                                    <input type="radio" name="allocation_mode" value="fixed" id="edit-fixed" required />
                                    Total
                                </label>
                                <input type="text" name="edit-amount-fixed" id="edit-amount-fixed" size="2" disabled> hrs
                            </div>
                            <input type="hidden" name="allocation_amount" value="none" />
                        </div>
                        <div class="col-md-6" style="margin-top:15px;">
                            <label for="start_time">Start Time</label>
                            <div class="input-group date">
                                <input type="text" class="form-control edit-start-time" name="start_time">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:15px;">
                            <label for="end_time">End Time</label>
                            <div class="input-group date">
                                <input type="text" class="form-control edit-end-time" name="end_time">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="edit-commit-submit" class="btn btn-primary">Commit Changes</button>
                </div>
            </div>
    </div>
</div>
}