body {
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}

.dropdown-menu{
    max-height: 250px;
    overflow:auto;

}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #ccc;
    margin-top: 5px;
    margin-left: -15px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.assignee-list, .resource-list, .resource-bucket-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.resource-bucket-list {
    margin-top: 10px;
}

.assignee-list li, .resource-list li, .resource-bucket-list li{
	background-color: #FFF;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
	color: #333;
	padding: 5px;
	display:inline-block;
	margin: 5px 2px;
	cursor: pointer;
}

.assignee-list li:hover, .resource-list li:hover, .resource-bucket-list li:hover{
	background-color: #f5f5f5;
}

.panel:hover {
    cursor: pointer;
}

.panel-body{
    height: 120px;
    overflow: hidden;
    padding: 0;
}

.panel-body img{
    width:100%;
}

.panel-footer {
    height: 75px;
}

.project-listing-client{
    font-weight: bold;
    display: block;
}
.project-listing-name{
    font-size: 11px;
    display: block;
}

.alertMessage {
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    top: 70px;
    right: 20px;
    position: fixed;
    background-color: green;
    border: 1px solid black;
    color: white;
    display:none;
}

#project-list tr {
    cursor: pointer;
}

.table-bordered th {
    text-align:center;
}

.table-bordered th {
    background-color: #ededed;
    border: 1px solid #ddd;
}

th.headerSortUp { 
    background-image: url('/includes/img/table-asc.gif') !important; 
    background-color: #f8f8f8; 
} 

th.headerSortDown { 
    background-image: url('/includes/img/table-desc.gif') !important; 
    background-color: #f8f8f8; 
} 

th.header { 
    background-image: url('/includes/img/table-header.gif') !important; 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 25px !important; 
} 

td.delete-resource {
    padding: 0px !important;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.front {
    background-color: white;
    color: red;
    width: 35px;
    height: 35px;
    text-align:center;
    vertical-align: middle;
    padding: 9px;
}

.front:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.back {
    background-color:orange;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    text-align:center;
    vertical-align: middle;
    padding: 9px;
}
.back a{
    color: white;
}

.editabletable {
    text-align: center;
}
.editabletable>tbody>tr>td, .editabletable>tbody>tr>th {
    vertical-align: middle;
}

.editabletable>tbody>tr>td.delete-resource {
    vertical-align: top;
}

.editabletable select {
    width:100%;
}

.editabletable input {
    line-height: 14px;
    font-size: 14px;
}


