@using fq540TenK.Models
@model LoginViewModel
@{
    ViewBag.Title = "Frequency540 Authentication";
}
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h2>@ViewBag.Title</h2>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial")
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
