@model List<fq540TenK.Models.User>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Batch Assign Resources:</h4>
        <input id="employee-search" name="search" placeholder="Start typing here..." type="text" data-list=".employee-list">
        <ul class="employee-list">
            @foreach (var user in Model)
            {
                <li id="@user.id"><span class="glyphicon glyphicon-plus-sign"></span> @user.first_name @user.last_name</li>
            }
        </ul>
    </div>
    <div class="col-md-12">
        <div class="well hidden" id="employee-search-bucket" style="margin-top: 10px;">
            <p>Once you have selected all the neccesary employees from the search box above, please hit "Add Resources" below:</p>
            <ul class="employee-bucket-list">
            </ul>
            <button type="button" id="add-user-trigger"class="btn btn-primary" style="margin-top: 10px;">Add Resources</button>
        </div>
    </div>
    <!-- Batch Add Modal -->
    <div class="modal fade" id="batch-add-modal" tabindex="-1" role="dialog" aria-labelledby="batch-add-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="batch-edit-modal-label">Batch Add Resources to Project/Phase</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Resources To Be Assigned to <span id="batchAdd-projectId">@ViewBag.parentID</span>:</h5>
                            <ul class="tb-assigned-modal-list"></ul>
                            <hr />
                            <h5>Allocation Type & Amount:</h5>
                        </div>
                        <div id="allocationModeSelect">
                        <div class="col-md-4">
                            <input type="radio" name="allocationMode" value="percent" checked="checked"> Percentage <input type="text" name="percent" size="2"> %<br>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="allocationMode" value="hours_per_day"> Daily <input type="text" name="hours_per_day" size="2" disabled> hrs<br>
                        </div>
                        <div class="col-md-4">
                            <input type="radio" name="allocationMode" value="fixed"> Total <input type="text" name="fixed" size="2" disabled> hrs<br>
                        </div>
                        </div>
                            <div class="col-md-6" style="margin-top:15px;">
                                <label for="add-start-time">
                                    Start Time
                                    <div class="input-group date">
                                        <input type="text" class="form-control add-start-time" name="add-start-time" data-provide="datepicker" data-date-format="yyyy/mm/dd">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-6" style="margin-top:15px;">
                                <label for="add-end-time">
                                    End Time
                                    <div class="input-group date">
                                        <input type="text" class="form-control add-end-time" name="add-end-time" data-provide="datepicker" data-date-format="yyyy/mm/dd">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="add-commit-submit" class="btn btn-primary">Commit Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>